Repository nlamirault/portefaix-lab, changes with the labels that .github/labeler.yml gives for each.
All labels: area/kubernetes, area/gcp, area/aws, area/azure, kind/documentation

.github/labeler.yml:

# Labels for action/labeler

area/kubernetes:
  - kubernetes/*
  - kubernetes/**/*

area/gcp:
  - iac/gcp/*
  - iac/gcp/**/*

area/aws:
  - iac/aws/*
  - iac/aws/**/*

area/azure:
  - iac/azure/*
  - iac/azure/**/*

kind/documentation:
  - docs/*
  - docs/**/*

Update Terraform terraform-aws-modules/vpc/aws to v3.2.0
  iac/aws/vpc/terraform/vpc.tf
Labels: area/aws

Update Helm chart chaos-mesh to v0.5.2
  kubernetes/base/chaos-mesh/chaos-mesh/chaos-mesh.yaml
Labels: area/kubernetes

Update Helm chart nfs-subdir-external-provisioner to v4.0.12
  kubernetes/base/storage/nfs/nfs.yaml
Labels: area/kubernetes

Update minio/console Docker tag to v0.7.5
  kubernetes/overlays/k3s/homelab/storage/minio/minio.yaml
Labels: area/kubernetes

Update Terraform digitalocean to v2.10.1
  iac/digitalocean/doks/terraform/terraform.tf
  iac/digitalocean/vpc/terraform/terraform.tf
Labels: none

Update Terraform exoscale to v0.25.0
  iac/exoscale/sks/terraform/main.tf
Labels: none

Update Helm chart policy-reporter to v1.8.4
  kubernetes/base/kyverno/policy-reporter/policy-reporter.yaml
Labels: area/kubernetes

Update dependency community.general to v3.3.2
  iac/k3s/machines/roles/requirements.yml
Labels: none

Update Helm chart oauth2-proxy to v4
  kubernetes/base/identity/oauth2-proxy/oauth2-proxy.yaml
Labels: area/kubernetes

Update Helm chart argo-cd to v3.9.0
  kubernetes/base/argo-cd/argo-cd/argo-cd.yaml
Labels: area/kubernetes

Update Helm chart kubernetes-chaos to v2.13.0
  kubernetes/base/litmus-chaos/kubernetes-chaos/kubernetes-chaos.yaml
Labels: area/kubernetes

Update Helm chart linkerd-viz to v21.7.3
  kubernetes/base/linkerd/linkerd-viz/linkerd-viz.yaml
Labels: area/kubernetes

Update Helm chart linkerd2 to v21.7.3
  kubernetes/base/linkerd/linkerd/linkerd.yaml
Labels: area/kubernetes

Update Terraform alicloud to v1.127.0
  iac/alicloud/ack/terraform/versions.tf
  iac/alicloud/elastic-ips/nat-gateway/terraform/versions.tf
  iac/alicloud/nat-gateway/terraform/versions.tf
  iac/alicloud/vpc/terraform/versions.tf
Labels: none

Update Flux to v0.16.1 on k3s Homelab
  clusters/k3s/homelab/flux-system/gotk-components.yaml
Labels: none
